@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  src: local('Avenir LT Std 65 Medium'), url('/public/fonts/Avenir LT Std 65 Medium.otf') format('truetype');
}

:root {
  font-family: 'Avenir LT Std 65 Medium';
}